body {
  margin: 0;
  overflow-x: hidden;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.Boton-imagen{
    background: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2vw; 
    max-width: 90vw;
    height: 25vw;
    border-radius: 2vw;
    box-shadow: 1px 1px 20px #1c1c1c3b;
    margin: 0 auto;

    view-timeline-name: --img-scroll;
    view-timeline-axis: block;
    animation-name: grow-in;
    animation-timeline: --img-scroll;
    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
    animation-duration: 1.5s;
}

.B_partidos,
.B_entre,
.B_fichas {
    width: 20vw;
    height: 11vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2vw;
}


@keyframes grow-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.img-contenedor{
    position: relative;
    display: inline-block;
}


.img-contenedor:hover img {
    transform: scale(1.08);
}

.img-contenedor:hover .img-texto {
    display: block;
    transform: scale(1.08);
}

.img-texto {
    display: none;
    position: absolute;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 4.6vw;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 4.5vw;
    color: #ffffff;
    font-size: 2vw;
    font-family: "Anton SC";
}

.parrafo {
    position: relative;
    top: 2vw;
    font-size: 1.4vw;
    color: #222222;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Cherish&family=Luxurious+Script&family=The+Nautigal:wght@400;700&display=swap');





/*.B_partidos{
    width: 27vw;
    height: 15vw;
}

.Partidos{
    position: relative;
    right: 38vw;
    bottom: 35.4vw;
    margin-right: 5vw;
}

.B_entre{
    width: 27vw;
    height: 15vw;
}

.Entrenamientos{
    position: relative;
    right: 9vw;
    bottom: 50vw;
}

.B_fichas{
    width: 27vw;
    height: 15vw;
}

.Fichas{
    position: relative;
    bottom: 64.6vw;
    left: 20vw;
} 
*/